@page "/counter"
@using BlazorProducts.Client.Components
@using System.Security.Claims

<AuthorizeView Roles="Administrator">
    <Authorized>
        The user: @context.User.FindFirst(ClaimTypes.Name).Value is Authorized
    </Authorized>
     <NotAuthorized>
        The user is not Authorized
    </NotAuthorized>
</AuthorizeView>
<CounterPrint Title="Counter" CurrentCount="currentCount">

</CounterPrint>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    private async void IncrementCount()
    {
        var authState = await AuthState;
        var user = authState.User;

        if(user.Identity.IsAuthenticated)
        currentCount++;
        else
          currentCount--;
    }
}
